.menu-list{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px ;
}
.logo-img{
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}