

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px ;
}
.logo-img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.collapsed-logo {
    display: none;

  }
