.card-style {
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card-style:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card-chart {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}